In [1]:
import pandas as pd
import datetime as dt

In [2]:
user_path = '../install_table.csv'
event_path = '../event_table.csv'

In [3]:
users = pd.read_csv(user_path)
events = pd.read_csv(event_path)

In [4]:
users.head()

                                 id install_date platform country_code
0  dcfb157a9ec6c9440fa60ccb1cdcb89a   2020-12-22  android           FR
1  911ee3445f10469d00797c486da6506f   2020-12-22  android           DE
2  c66821439c067e23fe8c810e7e2613bd   2020-12-22  android           DE
3  21e561e254d673d510a4613ac002f60d   2020-12-22  android           FR
4  38d339fe8284501afad420dfae91f7f6   2020-12-22  android           DE

In [5]:
events.head()

                                 id event_name  event_date
0  afbd1d702aa88921ba1c1597ee56f4c0   purchase  2020-12-23
1  a0e6f44d7a2f16fff4674ca921fae3ea   purchase  2020-12-23
2  a0e6f44d7a2f16fff4674ca921fae3ea   purchase  2020-12-23
3  a0e6f44d7a2f16fff4674ca921fae3ea   purchase  2020-12-23
4  0427611e16cca5588718954fffef9af9   purchase  2020-12-23

## Create a report which will tell how many users installed the app grouped by the date, country_code and platform.

In [9]:
user_installs = users.groupby(['install_date','platform','country_code'], as_index=False)['id'].nunique()
user_installs

    install_date platform country_code   id
0     2020-11-01  android           DE   72
1     2020-11-01  android           FR  126
2     2020-11-01      ios           DE   24
3     2020-11-01      ios           FR   16
4     2020-11-02  android           DE   68
..           ...      ...          ...  ...
239   2020-12-30      ios           FR  107
240   2020-12-31  android           DE  254
241   2020-12-31  android           FR  377
242   2020-12-31      ios           DE   25
243   2020-12-31      ios           FR   70

[244 rows x 4 columns]

## Create a report which will tell the top 10 users who did the highest count of purchases for November 2020. Also report their country and platform.

In [13]:
merged_df = pd.merge(users, events, on='id', how='inner')
merged_df = merged_df.drop_duplicates()
merged_df

,id,install_date,platform,country_code,event_name,event_date
0,c66821439c067e23fe8c810e7e2613bd,2020-12-22,android,DE,open,2020-12-22
2,79bc1511e3ac8b50d875375e64b2871e,2020-12-22,android,FR,purchase,2020-12-22
3,79bc1511e3ac8b50d875375e64b2871e,2020-12-22,android,FR,open,2020-12-22
4,b23d3b86bb2f26b34c412ebb542d18c6,2020-12-22,android,DE,purchase,2020-12-22
5,eb0fc8761200965d0153f83bb3bf43e9,2020-12-22,android,DE,open,2020-12-22
...,...,...,...,...,...,...
23047,3f17ccca73a777b81e54deeb6e3efb31,2020-11-15,ios,FR,open,2020-11-15
23048,57746c8839507f8770265adbb1ce584b,2020-11-15,ios,FR,purchase,2020-11-15
23049,57746c8839507f8770265adbb1ce584b,2020-11-15,ios,FR,open,2020-11-15
23050,228cf9a4b24e6d401deae394a016a4c5,2020-11-15,ios,FR,open,2020-11-15
23052,20d10ce675098e909d6a30b10eacd2ae,2020-11-15,ios,FR,open,2020-11-15

In [14]:
merged_df['event_date'] = pd.to_datetime(merged_df['event_date'])
merged_df['install_date'] = pd.to_datetime(merged_df['install_date'])

In [15]:
merged_df['weekday'] = merged_df['event_date']. dt.day_of_week
merged_df['month'] = merged_df['event_date'].dt.month
merged_df['year'] = merged_df['event_date'].dt.year

In [16]:
sales = merged_df[(merged_df['event_name'] == 'purchase')]
sales = sales[(sales['month'] < 12)]
sales

,id,install_date,platform,country_code,event_name,event_date,weekday,month,year
262,d9cff2e0485a7dccce0ba604e9e127d8,2020-11-24,ios,FR,purchase,2020-11-24,1,11,2020
264,674057bf007b150d9dc21e5d97572444,2020-11-24,ios,DE,purchase,2020-11-25,2,11,2020
265,674057bf007b150d9dc21e5d97572444,2020-11-24,ios,DE,purchase,2020-11-24,1,11,2020
267,674057bf007b150d9dc21e5d97572444,2020-11-24,ios,DE,purchase,2020-11-29,6,11,2020
273,674057bf007b150d9dc21e5d97572444,2020-11-24,ios,DE,purchase,2020-11-28,5,11,2020
...,...,...,...,...,...,...,...,...,...
23024,ecd423d7a048adb9b477c28ac99f662c,2020-11-15,ios,FR,purchase,2020-11-15,6,11,2020
23032,f3167d6a039f84b4b46f2bba107a3dc2,2020-11-15,android,DE,purchase,2020-11-15,6,11,2020
23034,d0e0dce08cfcd3ca7712f9431b4543f0,2020-11-15,android,DE,purchase,2020-11-18,2,11,2020
23040,817f19184ce1a15548145d7f77fb00fd,2020-11-15,ios,FR,purchase,2020-11-15,6,11,2020
23048,57746c8839507f8770265adbb1ce584b,2020-11-15,ios,FR,purchase,2020-11-15,6,11,2020

In [32]:
top10 = sales.groupby(['id','platform','country_code','event_name'], as_index=False)['id'].value_counts()
top10.sort_values(by='count', ascending=False).head(10)

                                   id platform country_code event_name  count
447  a0d58b7867fc8a419ea04fdbe0d23fbb      ios           DE   purchase     11
383  8966e0a10191da252d1e2a9967b7454c  android           FR   purchase      9
318  75d8c8d341a64541b396b7cb67ec7f4c  android           FR   purchase      9
88   22219c5b390eedae0cf115865680439a  android           DE   purchase      8
592  cf687c88658731e926ed374cf510ace6  android           DE   purchase      8
711  f4c7e7e3ee10a825c349e5d126299174      ios           FR   purchase      7
361  83544c2ec061481a02aed74f1f0a03c4      ios           FR   purchase      7
200  4f1726b891d0dec9704fd52355b645c2      ios           FR   purchase      6
256  644f6afc5e28d72ea2eae4b75343e1e0      ios           FR   purchase      6
675  e85dfef5c526c8e809728e0efc92fbec      ios           DE   purchase      6

## Daily active users (DAU) â€“ the user who at least ones opened the App during the day. The calculation should be done on daily bases.

In [34]:
open_events = merged_df[(merged_df['event_name'] == 'open')]
open_events

,id,install_date,platform,country_code,event_name,event_date,weekday,month,year
0,c66821439c067e23fe8c810e7e2613bd,2020-12-22,android,DE,open,2020-12-22,1,12,2020
3,79bc1511e3ac8b50d875375e64b2871e,2020-12-22,android,FR,open,2020-12-22,1,12,2020
5,eb0fc8761200965d0153f83bb3bf43e9,2020-12-22,android,DE,open,2020-12-22,1,12,2020
7,c5574f7c1f4c06ad44b218ecdee9885f,2020-12-22,ios,FR,open,2020-12-22,1,12,2020
10,174a177423fbf815a88b05ce9f2459c8,2020-12-22,ios,DE,open,2020-12-22,1,12,2020
...,...,...,...,...,...,...,...,...,...
23046,a54243a7ed7df02a3b920f3e630dc9d8,2020-11-15,ios,DE,open,2020-11-15,6,11,2020
23047,3f17ccca73a777b81e54deeb6e3efb31,2020-11-15,ios,FR,open,2020-11-15,6,11,2020
23049,57746c8839507f8770265adbb1ce584b,2020-11-15,ios,FR,open,2020-11-15,6,11,2020
23050,228cf9a4b24e6d401deae394a016a4c5,2020-11-15,ios,FR,open,2020-11-15,6,11,2020
23052,20d10ce675098e909d6a30b10eacd2ae,2020-11-15,ios,FR,open,2020-11-15,6,11,2020

In [35]:
daily_active_users = open_events.groupby(open_events['event_date'])['id'].nunique().reset_index(name='DAU')
daily_active_users

   event_date  DAU
0  2020-11-01   33
1  2020-11-02   38
2  2020-11-03   50
3  2020-11-04   54
4  2020-11-05   35
..        ...  ...
56 2020-12-27  811
57 2020-12-28  748
58 2020-12-29  872
59 2020-12-30  640
60 2020-12-31  646

[61 rows x 2 columns]

## Weekly active users (WAU) â€“ the user who at least ones opened the App during the week. The calculation should be done on weekly bases. Week_part function can be useful.

In [36]:
open_events['Week'] = open_events['event_date'].dt.to_period("W")
weekly_active_users = open_events.groupby('Week')['id'].nunique().reset_index(name='WAU')
weekly_active_users

/var/folders/rn/2jbc093n0csfj73b8ms70wz00000gn/T/ipykernel_58464/2013253199.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_events['Week'] = open_events['event_date'].dt.to_period("W")

                    Week   WAU
0  2020-10-26/2020-11-01    33
1  2020-11-02/2020-11-08   335
2  2020-11-09/2020-11-15   506
3  2020-11-16/2020-11-22   389
4  2020-11-23/2020-11-29   275
5  2020-11-30/2020-12-06   252
6  2020-12-07/2020-12-13   264
7  2020-12-14/2020-12-20   520
8  2020-12-21/2020-12-27  2428
9  2020-12-28/2021-01-03  2618

## Monthly active users (MAU) - the user who at least ones opened the App during the month. The calculation should be done on monthly bases.

In [37]:
open_events['Month'] = open_events['event_date'].dt.to_period("M")
monthly_active_users = open_events.groupby('Month')['id'].nunique().reset_index(name='MAU')
monthly_active_users

/var/folders/rn/2jbc093n0csfj73b8ms70wz00000gn/T/ipykernel_58464/2202808660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  open_events['Month'] = open_events['event_date'].dt.to_period("M")

     Month   MAU
0  2020-11  1403
1  2020-12  5521

## Calculate the retention rate for upcoming 7 days (n = [0,7]) after the install on daily bases. Retention is calculated by dividing the count of the users who opened the app after n days from install. For instance, on March 12, 2020, 1,000 users have installed the app. On March 13 400 of them has returned/reopened. Thus, the Day 1(D1) will be 400 / 1000 = 40%.

In [39]:
unique_installs = users.groupby("install_date",as_index=False)['id'].count().rename(columns={"id":"installs"})
unique_events = events.groupby("event_date",as_index=False)['id'].nunique().rename(columns={"id":"events"})

In [47]:
unique_installs['install_date'] = pd.to_datetime(unique_installs['install_date'])

In [48]:
retention_df = merged_df.groupby(["event_date","install_date"],as_index=False)['id'].nunique().rename(columns={'id':'returned_users'})

retention_df = retention_df[(retention_df['event_date'] - retention_df['install_date']).dt.days <=7]

retention_df = unique_installs.merge(retention_df,on='install_date')

retention_df['retention_rate'] = (retention_df['returned_users']/retention_df['installs'] * 100).round(2)

retention_df.sort_values(['install_date','event_date'],inplace=True)

retention_df = retention_df[['install_date','event_date','installs','returned_users','retention_rate']]

In [49]:
retention_df

    install_date event_date  installs  returned_users  retention_rate
0     2020-11-01 2020-11-01       238              44           18.49
1     2020-11-01 2020-11-02       238               8            3.36
2     2020-11-01 2020-11-03       238               6            2.52
3     2020-11-01 2020-11-04       238               4            1.68
4     2020-11-01 2020-11-05       238               4            1.68
..           ...        ...       ...             ...             ...
407   2020-12-29 2020-12-30       904              36            3.98
408   2020-12-29 2020-12-31       904              28            3.10
409   2020-12-30 2020-12-30       875             496           56.69
410   2020-12-30 2020-12-31       875              49            5.60
411   2020-12-31 2020-12-31       726             453           62.40

[412 rows x 5 columns]

## For each day calculate the count of churned users. Churned are called the users who came the day before but hasnâ€™t returned the next day. For instance, on March 10 1,000 users opened the app. On March 11 1,200 from which 400 were the new installed ones. Therefore, the churned will be 1200 â€“ 400 â€“ 1000 = -200. In other words, the churned users are equal the active users of the given day minus the new installs minus the active users of the previous day.

In [50]:
day_install_day_open = retention_df[retention_df['event_date'] == retention_df['install_date']]\
            [['install_date','event_date','returned_users','installs']]

In [52]:
unique_events['event_date'] = pd.to_datetime(unique_events['event_date'])

In [53]:
churn_df = unique_events.merge(day_install_day_open,on='event_date').drop("install_date",axis=1)\
            .rename(columns={"events":"total_events","returned_users":"day_install_day_open"})


churn_df['yesterday_opens'] = churn_df['total_events'].shift(1)

churn_df.dropna(inplace=True)

churn_df.drop("installs",inplace=True,axis=1)

churn_df['churn_rate_number'] = churn_df['total_events'] - churn_df['day_install_day_open'] - churn_df['yesterday_opens']

churn_df['churn_rate'] = (churn_df['churn_rate_number']/churn_df['yesterday_opens']).round(2) * 100

In [54]:
churn_df

,event_date,total_events,day_install_day_open,yesterday_opens,churn_rate_number,churn_rate
1,2020-11-02,74,42,66.0,-34.0,-52.0
2,2020-11-03,92,48,74.0,-30.0,-41.0
3,2020-11-04,88,40,92.0,-44.0,-48.0
4,2020-11-05,79,32,88.0,-41.0,-47.0
5,2020-11-06,147,74,79.0,-6.0,-8.0
6,2020-11-07,128,64,147.0,-83.0,-56.0
7,2020-11-08,150,62,128.0,-40.0,-31.0
8,2020-11-09,110,33,150.0,-73.0,-49.0
9,2020-11-10,157,73,110.0,-26.0,-24.0
10,2020-11-11,127,64,157.0,-94.0,-60.0
11,2020-11-12,164,76,127.0,-39.0,-31.0
12,2020-11-13,192,72,164.0,-44.0,-27.0
13,2020-11-14,206,69,192.0,-55.0,-29.0
14,2020-11-15,249,91,206.0,-48.0,-23.0
15,2020-11-16,214,54,249.0,-89.0,-36.0
16,2020-11-17,144,32,214.0,-102.0,-48.0
17,2020-11-18,163,50,144.0,-31.0,-22.0
18,2020-11-19,178,55,163.0,-40.0,-25.0
19,2020-11-20,152,36,178.0,-62.0,-35.0
20,2020-11-21,192,41,152.0,-1.0,-1.0
21,2020-11-22,190,36,192.0,-38.0,-20.0
22,2020-11-23,132,22,190.0,-80.0,-42.0
23,2020-11-24,164,33,132.0,-1.0,-1.0
24,2020-11-25,156,24,164.0,-32.0,-20.0
25,2020-11-26,157,20,156.0,-19.0,-12.0
26,2020-11-27,150,33,157.0,-40.0,-25.0
27,2020-11-28,167,30,150.0,-13.0,-9.0
28,2020-11-29,213,39,167.0,7.0,4.0
29,2020-11-30,183,36,213.0,-66.0,-31.0
30,2020-12-01,151,15,183.0,-47.0,-26.0
31,2020-12-02,198,23,151.0,24.0,16.0
32,2020-12-03,173,16,198.0,-41.0,-21.0
33,2020-12-04,212,31,173.0,8.0,5.0
34,2020-12-05,141,25,212.0,-96.0,-45.0
35,2020-12-06,151,23,141.0,-13.0,-9.0
36,2020-12-07,203,23,151.0,29.0,19.0
37,2020-12-08,238,32,203.0,3.0,1.0
38,2020-12-09,162,21,238.0,-97.0,-41.0
39,2020-12-10,130,9,162.0,-41.0,-25.0
40,2020-12-11,236,34,130.0,72.0,55.0
41,2020-12-12,261,38,236.0,-13.0,-6.0
42,2020-12-13,172,22,261.0,-111.0,-43.0
43,2020-12-14,199,16,172.0,11.0,6.0
44,2020-12-15,259,28,199.0,32.0,16.0
45,2020-12-16,281,49,259.0,-27.0,-10.0
46,2020-12-17,304,65,281.0,-42.0,-15.0
47,2020-12-18,365,72,304.0,-11.0,-4.0
48,2020-12-19,306,66,365.0,-125.0,-34.0
49,2020-12-20,429,120,306.0,3.0,1.0
50,2020-12-21,349,91,429.0,-171.0,-40.0
51,2020-12-22,549,210,349.0,-10.0,-3.0
52,2020-12-23,476,174,549.0,-247.0,-45.0
53,2020-12-24,485,159,476.0,-150.0,-32.0
54,2020-12-25,937,498,485.0,-46.0,-9.0
55,2020-12-26,959,516,937.0,-494.0,-53.0
56,2020-12-27,1243,673,959.0,-389.0,-41.0
57,2020-12-28,1222,587,1243.0,-608.0,-49.0
58,2020-12-29,1324,669,1222.0,-567.0,-46.0
59,2020-12-30,1056,496,1324.0,-764.0,-58.0
60,2020-12-31,1173,453,1056.0,-336.0,-32.0

## Calculate the conversion rate from open to purchase for each day. This could be done by dividing the unique users count who did a purchase by the unique users count who opened the app.

In [55]:
purchase_events = merged_df[(merged_df['event_name'] == 'purchase')]
purchase_events

,id,install_date,platform,country_code,event_name,event_date,weekday,month,year
2,79bc1511e3ac8b50d875375e64b2871e,2020-12-22,android,FR,purchase,2020-12-22,1,12,2020
4,b23d3b86bb2f26b34c412ebb542d18c6,2020-12-22,android,DE,purchase,2020-12-22,1,12,2020
6,77abe5c64d541214b195ae5feb1dbad5,2020-12-22,android,DE,purchase,2020-12-22,1,12,2020
8,174a177423fbf815a88b05ce9f2459c8,2020-12-22,ios,DE,purchase,2020-12-22,1,12,2020
16,c4d9fde5ce20cdd59ff3c75ffe9c1873,2020-12-22,android,DE,purchase,2020-12-22,1,12,2020
...,...,...,...,...,...,...,...,...,...
23024,ecd423d7a048adb9b477c28ac99f662c,2020-11-15,ios,FR,purchase,2020-11-15,6,11,2020
23032,f3167d6a039f84b4b46f2bba107a3dc2,2020-11-15,android,DE,purchase,2020-11-15,6,11,2020
23034,d0e0dce08cfcd3ca7712f9431b4543f0,2020-11-15,android,DE,purchase,2020-11-18,2,11,2020
23040,817f19184ce1a15548145d7f77fb00fd,2020-11-15,ios,FR,purchase,2020-11-15,6,11,2020
23048,57746c8839507f8770265adbb1ce584b,2020-11-15,ios,FR,purchase,2020-11-15,6,11,2020

In [56]:
open_events

,id,install_date,platform,country_code,event_name,event_date,weekday,month,year,Week,Month
0,c66821439c067e23fe8c810e7e2613bd,2020-12-22,android,DE,open,2020-12-22,1,12,2020,2020-12-21/2020-12-27,2020-12
3,79bc1511e3ac8b50d875375e64b2871e,2020-12-22,android,FR,open,2020-12-22,1,12,2020,2020-12-21/2020-12-27,2020-12
5,eb0fc8761200965d0153f83bb3bf43e9,2020-12-22,android,DE,open,2020-12-22,1,12,2020,2020-12-21/2020-12-27,2020-12
7,c5574f7c1f4c06ad44b218ecdee9885f,2020-12-22,ios,FR,open,2020-12-22,1,12,2020,2020-12-21/2020-12-27,2020-12
10,174a177423fbf815a88b05ce9f2459c8,2020-12-22,ios,DE,open,2020-12-22,1,12,2020,2020-12-21/2020-12-27,2020-12
...,...,...,...,...,...,...,...,...,...,...,...
23046,a54243a7ed7df02a3b920f3e630dc9d8,2020-11-15,ios,DE,open,2020-11-15,6,11,2020,2020-11-09/2020-11-15,2020-11
23047,3f17ccca73a777b81e54deeb6e3efb31,2020-11-15,ios,FR,open,2020-11-15,6,11,2020,2020-11-09/2020-11-15,2020-11
23049,57746c8839507f8770265adbb1ce584b,2020-11-15,ios,FR,open,2020-11-15,6,11,2020,2020-11-09/2020-11-15,2020-11
23050,228cf9a4b24e6d401deae394a016a4c5,2020-11-15,ios,FR,open,2020-11-15,6,11,2020,2020-11-09/2020-11-15,2020-11
23052,20d10ce675098e909d6a30b10eacd2ae,2020-11-15,ios,FR,open,2020-11-15,6,11,2020,2020-11-09/2020-11-15,2020-11

In [66]:
open_users_count = open_events.groupby('event_date')['id'].nunique()
purchase_users_count = purchase_events.groupby('event_date')['id'].nunique()

conversion_rate_df = pd.merge(open_users_count, purchase_users_count, left_index=True, right_index=True, how='outer')
conversion_rate_df = conversion_rate_df.rename(columns={'id_x': 'Open_users', 'id_y': 'Purchase_users'})

conversion_rate_df['Conversion_rate'] = (conversion_rate_df['Purchase_users'] / conversion_rate_df['Open_users'])

conversion_rate_df

            Open_users  Purchase_users  Conversion_rate
event_date
2020-11-01          33              18         0.545455
2020-11-02          38              25         0.657895
2020-11-03          50              30         0.600000
2020-11-04          54              17         0.314815
2020-11-05          35              31         0.885714
...                ...             ...              ...
2020-12-27         811             182         0.224414
2020-12-28         748             169         0.225936
2020-12-29         872             165         0.189220
2020-12-30         640             148         0.231250
2020-12-31         646             191         0.295666

[61 rows x 3 columns]